:root {
  --dark-color: #191716;
  --bright-color: #fffaff;
  --sucess-color: #3e92cc;
  --error-color: #ba2d0b;
  --attention-color: #e6af2e;
  --background-color: #1c314a;
  --paper-color: #1917168d;
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--bright-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0.5rem;
  box-sizing: border-box;
}

#__next {
  width: 100%;
  height: 100%;
}

ul {
  padding-inline-start: 0;
}
.clickable {
  transition: 0.2s;
  cursor: pointer;
}
.clickable:hover {
  transform: scale(1.03);
}
.clickable:active {
  transform: scale(1);
  filter: brightness(0.7);
}

main {
  width: fit-content;
  margin: auto;
}
